
*{
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
}

/* Navbar css */

#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:10px;
  background-color: #0080ff;
  align-items: center;
}

#navRight{
  display: flex;
}

#navbar a{
  text-decoration: none;
  color: white;
}

.completeCount{
  border:2px solid red;
  background-color: red;
  border-radius: 25px;
  text-align: center;
  width:10px;
  font-size: 0.7rem;
  position: relative;
  right:0px;
  bottom:5px;
}


/* Pending css */

.pending-outer-container{
  padding: 10px 0px;
}


.pending-child-container{
  width:90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.pending-tasks-container{
  width:100%;
  margin-top: 15px;;
  display: flex;
  flex-direction: column;
  gap:12px;
}

.pending-task-item{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding:8px;
}

.pending-task{
  display: flex;
  flex-direction: column;
  width:70%;
}

.pending-task-title{
  display: flex;
  flex-wrap: wrap;
}

.pending-task-description{
  display: flex;
  flex-wrap: wrap;
}

.pending-arrow{
  width:10%;
  cursor: pointer;
}

.pending-task-delete{
  width:15%;
  cursor: pointer;
}

.pending-task-complete{
  cursor: pointer;
}

.pending-form{
  margin:10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox{
  padding:8px;
  width:60%;
  margin: 10px 0px;
}

.clear-tasks{
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}


.btn{
  width:100px;
  height:30px;
  margin: 0px 10px;
  background-color: #0080ff;
  color: white;
  border:none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover{
  background-color: #0066cb;
}





/* Complete css */

.completed-outer-container{
  padding: 10px 0px;
}


.completed-child-container{
  width:90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.completed-tasks-container{
  width:100%;
  margin-top: 15px;;
  display: flex;
  flex-direction: column;
  gap:12px;
}
.completed-task{
  display: flex;
  flex-direction: column;
  width:70%;
}

.completed-task-title{
  display: flex;
  flex-wrap: wrap;
}

.completed-task-description{
  display: flex;
  flex-wrap: wrap;
}

.completed-arrow{
  width:10%;
  cursor: pointer;
}

.completed-task-item{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding:8px;
}

.completed-task-title{
  width:70%;
  display: flex;
  flex-wrap: wrap;
}

.no-tasks a{
  text-decoration: none;
  color: #0066cb;
}